.file-drop {
  border: 1px dashed black;
  height: 200px;
  background-color: antiquewhite;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.file-drop > input {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}

.file-drop:hover {
  background-color: rgb(109, 109, 109);
  color: white;
  transition: all 0.3s;
}

.submit-btn {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 15px 0;
  font-size: 20px;
  color: white;
  background-color: brown;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: rgb(122, 25, 25);
}

.image-preview {
  display: block;
  width: 15%;
  margin: 10px auto 20px;
  border-radius: 10px;
  transition: all 0.5s;
}

.public-check {
  cursor: pointer;
}
